table{
            /*border-collapse: collapse;*/
            border-spacing:0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #444;
        }
        .custom_tb tr:hover{
    background-color: #fbf8e9;
    transition: all 0.1s ease-in-out;
}
.custom_tb th,.custom_tb td{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.custom_tb th{
    background-color: #dce9f9;
    border-top:none;
}
.custom_tb td:first-child,.custom_tb th:first-child{
    border-left: none;
}
.custom_tb th:first-child{
    border-radius: 6px 0 0 0;
}
.custom_tb th:last-child{
    border-radius: 0 6px 0 0;
}
.custom_tb tr:last-child td:first-child{
    border-radius: 0 0 0 6px;
}
.custom_tb tr:last-child td:last-child{
    border-radius: 0 0 6px 0;
}
.custom_tb{
            width: 80%;
            margin: 50px auto;
            border:1px solid #ccc;
            border-radius: 6px;
            box-shadow: 0 1px 1px #ccc;
        }
 #student{
 font-weight:bold;
 }
